@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-to {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@mixin anim-keyframes($d, $k) {
  animation: $d $k;
  margin: auto;
}

@mixin anim-typing($w, $d) {
  width: $w;
  animation: typing $d steps(8), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}

.anim-appear-1s {
  @include anim-keyframes(1s, appear);
}

.anim-appear-2s {
  @include anim-keyframes(2s, appear);
}

.anim-appear-3s {
  @include anim-keyframes(3s, appear);
}

.slide-enter-active {
  animation: slide-to 0.3s forwards linear;
}
.slide-leave-active {
  animation: slide-to 0.3s forwards reverse linear;
}

.ld-txt {
  @include anim-typing(8ch, .5s);
}

