// Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@import 'anim.scss';
@import 'size.scss';
@import 'shadow.scss';
@import 'truncate.scss';

// General style overrides and custom classes
@import 'theme';

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

[v-cloak] {
  display: none;
}

html, body { 
  height: 100vh;
  width: 490px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden;
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ol, ul {
    padding: 0 0 0 1rem;
  }
  a {
    color: var(--gray-dark);
    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

body::-webkit-scrollbar {
  display: none;
}

.open-os-explorer {
  cursor: pointer;
  color: #007bff;
  font-weight:400;
  &:hover {
    font-weight:700;
    // color: #1d1aca;
  }
}

.text-bold-red {
  color:red;
  font-weight: bold;
}

.text-bold-blue {
  color:blue;
  font-weight: bold;
}

.text-bold-orange {
  color:orange;
  font-weight: bold;
}

.text-bold-green {
  color:limegreen;
  font-weight: bold;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: bold;
  font-size: 4rem;
  color: #35495e;
  letter-spacing: 1px;
}

.center {
  @include center();
}

.vh-100 {
  height: 100vh;
}

.full-vh {
  @include center();
  height: 100vh;
  color: #fff;
  font-size: 5em;
  text-shadow:
    0px 2px 0px #b2a98f,
    0px 4px 3px rgba(0,0,0,0.15),
    0px 8px 1px rgba(0,0,0,0.1);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  box-shadow: 2px 2px 15px #ccc;
  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  p {
    display: inline;
    color: black;
  }
}

@mixin thumbnail() {
  padding: $thumbnail-padding;
  background-color: $thumbnail-bg;
  border: $thumbnail-border-width solid $thumbnail-border-color;
  @include border-radius($thumbnail-border-radius);
  @include box-shadow($thumbnail-box-shadow);
  // Keep them at most 100% wide
  @include img-fluid;
}

.msg-item {
  overflow-x: hidden;
  p {
    margin-top: 0;
    margin-bottom: 0;
    img:not(.avatar) {
      // max-width: 375px;
      cursor: pointer;
      box-shadow: 5px 3px 5px gray;
      @include thumbnail();
    }
  }
}

.announcement-card {
  img {
    @include thumbnail();
  }
}

.preview {
  .announcement-card {
    img {
      @include thumbnail();
      cursor: auto;
    }
  }
  .my-message {
    img {
      @include thumbnail();
      cursor: auto;
    }
    p {
      max-width: 300px;
    }
  }
}

.avatar {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dropable {
  background-color: rgb(227, 255, 236);
  font-weight: bolder;
  border: 5px dashed gray;
}

.list-enter-active, .list-leave-active,
.listY-enter-active, .listY-leave-active,
.bg-enter-active, .bg-leave-active {
  transition: all .4s;
}

@mixin opacity() {
  opacity: 0;
}

.list-enter, .list-leave-to {
  @include opacity();
  transform: translateX(-50px);
}

.listY-enter, .listY-leave-to {
  @include opacity();
  transform: translateY(-50px);
}

.bg-enter, .bg-leave-to {
  color: #007bff !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgb(192, 191, 191);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 192, 192);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(116, 116, 117);
}
