.s-xl {
	font-size: 4rem;
}

.s-lg {
	font-size: 3rem;
}

.s-md {
	font-size: 2rem;
}

.s-sm {
	font-size: 1rem;
}

.s-xs {
	font-size: .75rem;
}

.s-150 {
	font-size: 1.50rem;
}

.s-145 {
	font-size: 1.45rem;
}

.s-140 {
	font-size: 1.40rem;
}

.s-135 {
	font-size: 1.35rem;
}

.s-130 {
	font-size: 1.30rem;
}

.s-125 {
	font-size: 1.25rem;
}

.s-120 {
	font-size: 1.20rem;
}

.s-115 {
	font-size: 1.15rem;
}

.s-110 {
	font-size: 1.10rem;
}

.s-105 {
	font-size: 1.05rem;
}

.s-100 {
	font-size: 1rem;
}

.s-95 {
	font-size: .95rem;
}

.s-90 {
	font-size: .90rem;
}

.s-85 {
	font-size: .85rem;
}

.s-80 {
	font-size: .80rem;
}

.s-75 {
	font-size: .75rem;
}

.s-70 {
	font-size: .70rem;
}

.s-65 {
	font-size: .65rem;
}

.s-60 {
	font-size: .60rem;
}

.s-55 {
	font-size: .55rem;
}

.s-50 {
	font-size: .50rem;
}
